<!-- Use root.html as the base web page design -->
{% extends "root.html" %}

<!-- Title to be displayed in tab, is preceeded by "Bored Games " -->
{% block title %} {% endblock %}

<!-- Additional css to be added for specific page -->
{% block extra_css %} {% endblock %}

<!-- Name to be displayed in large title block at the top of the page -->
{% block header %} {% endblock %}

<!-- Any additional buttons to show to the right of the title block's name -->
{% block headerButtons %} {% endblock %}

<!-- The page's actual content -->
{% block content %} {% endblock %}

<!-- Additional css to be added for specific page -->
{% block extra_js %} {% endblock %}