<!-- Use root.html as the base web page design -->
{% extends "root.html" %}

{% block title %}
    Coin Flipper
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/coinFlipper.css') }}">
{% endblock %}

{% block header %}
    Coin Flipper
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
                <p class="card-title">
                    Click the coin to flip it randomly
                </p>
                <div class="mb-1 coin" id="coin" onclick="flip(coin, flipResult)" role="button">
                    <div class="heads"></div>
                    <div class="tails"></div>
                </div>
                <p class="card-text" id="flipResult">  
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/coinFlipper.js') }}"></script>
{% endblock %}