<!-- Use root.html as the base web page design -->
{% extends "root.html" %}

<!-- Name to be displayed in large title block at the top of the page -->
{% block header %} Home {% endblock %}

<!-- The page's actual content -->
{% block content %}
<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">

    <!-- This notation indicates Jinja2 template code
    For Jinja2 reference: https://jinja.palletsprojects.com/en/2.10.x/templates/ -->
    {% for item in cards %}
        <div class="col mb-4">
            <div class="card text-center">
                <img class="card-img-top" src="https://q-workshop.com/2108-large_default/d6-steampunk-black-white-die-1.jpg" alt="Board game die">
                <div class="card-body">
                    <h4 class="card-title"> Here is game title: {{ item }} </h4>
                    <p class="card-text text-left"> Here is the game desciption </p>
                    <a href="/{{ item }}" class="btn btn-dark stretched-link"> Link to game </a> 
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>
{% endblock %}