/* coinFlipper.css
Custom styles to be used on the coin flip game */

/* Heavily influenced by tutorial: https://www.youtube.com/watch?v=_XgNlQCSSpY */

.coin
{
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    border-radius: 50%;
    transform-style: preserve-3d;
    display: inline-flex;
}

.coin div
{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.coin .heads
{
    border: 3px solid grey;
    background-color: white;
    border-radius: 50%;
}

.coin .tails
{
    border: 3px solid grey;
    background-color: black;
    border-radius: 50%;
}

.animate-duplicate
{
    animation: duplicate 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes duplicate
{
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

.animate-opposite
{
    animation: opposite 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes opposite
{
    from { transform: rotateY(180deg); }
    to { transform: rotateY(360deg); }
}